/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.container{
    max-width: 50%;
    margin: 0 auto;
    background-color: white;
    height: 580px;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 20px;
}

.list{
    margin-left: 40px;
    list-style-type: none;
}
.l-title{
    font-size: 20px;
}
.l-element{
    margin: 15px;
    margin-left: 0;
}

.check{
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

.x{
    color: red;
    border: 2px solid red;

}

.l-element{

}

.post-it{
    font-size: 12px;
    background-color: deepskyblue;
    color: white;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;

}

.c-green{
    background-color: green;
}

.c-violet{
    background-color: blueviolet;
}

.c-orange{
    background-color: orange;
}
 
.c-lime{
    background-color: lime
}

/* header */
header{
    padding: 10px 30px;
    background-color: white;
}

#logo{
    height: 60px;
    vertical-align: middle;
    display: inline-block;
}

/* generics */
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: inline;
    vertical-align: middle;
    font-size: 45px;
}

/* button e separator */
#b-task{
    background-color: dodgerblue;
    color: white;
    padding: 8px;
    border-radius: 7px;
    border-color: dodgerblue;
    font-size: 15px;
    margin-left: 40px;
}

#b-section{
    background-color: white;
    color: gray;
    padding: 8px;
    border-radius: 7px;
    border-color: grey;
    font-size: 15px;
}

#separator{
    height: 2px;
    background-color: lightgray;
    margin: 20px 0;
}

